.env
.idea/
.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
data_raw/open_alex_abs_data.parquet
data_raw/open_alex_metadata.json
data_raw/institution_geo.parquets
data_raw/open_alex_abs_data_pt2.parquet
data_raw/open_alex_metadata_pt2.json
data_raw/fuzzy_checkpoint.json
oa_checkpoint.json

data_raw/*.csv
data_raw/*.xlsx
data_clean/*.csv
data_clean/*.xlsx
data_clean/*.log
data_clean/*.txt
data_raw/policy_frameworks/*.pdf

# Generated data files
data/
models/
results/alignment/*.npy
requirements_alignment.txt
